.body_main {
  top: 248px;
  width: 100vw;
  height: 100vh;
  padding: 0;
  border: 1px solid red;
  z-index: 2;
}

.phalaris {
  width: 100vw;
  height: 640px;
  position: fixed;
  vertical-align: center;
  z-index: 1;
}

.p1 {
  position: absolute;
}
