body {
  background-color: black;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50%;
}

.outerContainer {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: black;
  overflow: hidden;
  z-index: 20;
}

.white_text {
  color: white;
  text-decoration: none;
}

.innerBlock {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid white;
}

.innerBlock h1 {
  margin: 0 auto;
}

.main_header {
  font-size: 48px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.main_header span {
  font-size: 36px;
}

.homeMenuList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin: 0 0 12px;
}

.homeMenuList li a {
  text-decoration: none;
  color: white;
}

.centered {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.page_bottom {
  border-top: 2px solid white;
  position: fixed;
  overflow: hidden;
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 92.8px;
  z-index: 20;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4px 0 0 0;
}
